<html>

<head>

    <head>404</head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.csss">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>

    {{>footer}}
</body>

</html>